.help-button-wrapper {
    position: fixed;
    bottom: 0px;
    right: 0px;
    text-align: right;
    z-index: 999;
    cursor: pointer;
  }
  .help-button {
    height: 50px;
    width: 50px;
    font-family: "MedievalSharp", cursive;
    font-weight: 500;
    font-size: 14px;
    /* border-radius: 50%; */
    border: 0 none;
    background: white;
    color: rgb(72, 131, 72);
    cursor: pointer;
    /* box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); */
    transform: scale(1);
    transition: all 200ms ease;
  }
  .help-button:hover,
  .help-button:focus,
  .help-button:active {
    /* box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2); */
    outline: 0;
  }
  .help-button span {
    display: block;
    font-size: 2em;
    transform: scale(1);
    transition: transform 100ms ease;
  }
  .help-button:hover span,
  .expanded .help-button span,
  .expanded .help-button span {
    transform: scale(1.25);
  }
  .expanded .help-button {
    transform: scale(0.5);
    color: rgb(255, 255, 255);
    background: rgb(72, 131, 72);
  }
  .help-list {
    list-style: none;
    padding: 0;
    margin: 20px;
    transition: all 200ms ease;
    transform: translate(0, 90px) scale(0.5);
    transform-origin: bottom center;
    opacity: 0;
  }
  .expanded .help-list {
    transform: translate(0px, 20px) scale(1);
    opacity: 1;
  }
  .help-list li {
    margin-bottom: 1em;
    background-color: white;

  }
  .help-list a {
    color: #192230;
    text-decoration: none;
  }
  