@font-face {
    font-family: ippocampo;
    src: url(src/font/Ippocampo-Regular.ttf);
}
@font-face {
    font-family: kooky;
    src: url(src/font/Kooky-Regular.ttf);
}
@font-face {
    font-family: serpe;
    src: url(src/font/Serpe-Regular.ttf);
}
@font-face {
    font-family: trash;
    src: url(src/font/trash/trashplusbold.otf);
}

html, body{
    font-family: kooky;
    background-color: #f6f6f6;
    width: calc(100% - 10px);
    /* margin: auto; */
}

.ui-loader{
    display: none;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    max-width: 925px;
    height: auto;
    margin: auto;
}

    .tinder{
        display: flex;
        align-items: center;
        justify-content: center;
        /* height: 700px; */
    }

/* h1 span{
    font-family: nuit;
    font-size: 215pt;
} */

.cover{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "cover";
    position: relative;
    /* height: 50vh; */
    width: 100%;
}

.title{
    padding: 2.5vh;
    grid-area: cover;
    font-family: ippocampo;
    font-size: 140px;
    margin: 0 0;
    position: relative;
    top: -150px;
}

h3,ul{
    align-self: flex-start;
    margin:  5px 20px;
}

ul{
    margin-bottom: 30px;
}

.descrizione{
    margin: 30px 20px;
    align-self: flex-start;
}

.tip{
    align-self: center;
    text-align: center;
}

.celebrate{
    /* font-family: kooky; */
    font-family: kooky;
    font-weight: 400;
    font-size: 40px;
    margin: 0;
    padding: 0;
    position: relative;
    top: 50px;
    font-style: italic;
}

.tnr{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-style: italic;
}

.ippocampo{
    font-family: ippocampo;
    font-size: 100px;
}

.blanket{
    grid-area: cover;
    width: 100%;
}

.match{
    background-image: url(./src/img/silver.jpg);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    position: fixed;
    top: 0;
    margin: auto;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;

}

/* .appear{
    opacity: 1;
} */

    .map{
        width: 50%;
        border-radius: 10px;
        box-shadow: 0 0 10px rgb(0 0 0 / 20%);
    }

@media screen and (max-width: 900px) {
    .main{
        max-width: 92vw;
    }

    .title{
        font-size: 20vw;
        top: -50px;
    }

    .ippocampo{
        font-size: 20vw;
    }

    .ippocampo:first-of-type{
        margin-top: 15vh;
    }

    .celebrate{
        font-size: 6vw;
        top: 20px;
    }

    .blanket{
        position: relative;
        top: 140px;
    }

    .pda{
        width: 100%;
    }

    .map{
        width: 80%;
        height: 60%;
    }

    .match .ippocampo{
        font-size: 15vw;
    }
}
