@font-face {
    font-family: ippocampo;
    src: url(src/font/Ippocampo-Regular.ttf);
}
@font-face {
    font-family: kooky;
    src: url(src/font/Kooky-Regular.ttf);
}
@font-face {
    font-family: serpe;
    src: url(src/font/Serpe-Regular.ttf);
}
@font-face {
    font-family: trash;
    src: url(src/font/trash/trashplusbold.otf);
}

html, body{
    font-family: kooky;
    background-color: black;
    color: red;
    width: calc(100% - 10px);
    /* margin: auto; */
}

.ui-loader{
    display: none;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    max-width: 925px;
    height: auto;
    margin: auto;
}

    .tinder{
        display: flex;
        align-items: center;
        justify-content: center;
        /* height: 700px; */
    }

/* h1 span{
    font-family: nuit;
    font-size: 215pt;
} */

.cover{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "cover";
    position: relative;
    /* height: 50vh; */
    width: 100%;
}

.title{
    padding: 2.5vh;
    grid-area: cover;
    font-family: ippocampo;
    font-size: 140px;
    margin: 0 0;
    position: relative;
    text-align: center;
    /* top: -150px; */
}

h3,ul{
    align-self: flex-start;
    margin:  5px 20px;
}

ul{
    margin-bottom: 30px;
}

.descrizione{
    margin: 30px 20px;
    align-self: flex-start;
}

.tip{
    align-self: center;
    text-align: center;
}

.celebrate{
    font-family: kooky;
    font-weight: 400;
    font-size: 40px;
    margin: 0;
    padding: 0;
    font-style: italic;
}

.tnr{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-style: italic;
}

.ippocampo{
    font-family: ippocampo;
    font-size: 100px;
}

.margin_top_s{
    padding-top: 10vh;
}

.blanket{
    grid-area: cover;
    width: 100%;
}

.a_center{
    display: inline-block;
    text-align: center;
    width: 100%;
    margin: 0;
}

.arrow{
    width: 100%;
    text-align: center;
}

.blink_me {
    animation: blinker 0.1s linear infinite;
  }

  pre{
    font-family: monospace;
    white-space: pre;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

/* .appear{
    opacity: 1;
} */

@media screen and (max-width: 900px) {
    .main{
        max-width: 92vw;
    }

    .video{
        width: 95%;
        margin-bottom: 5vh;
    }

    .title{
        font-size: 20vw;
        top: -50px;
    }

    .ippocampo{
        font-size: 20vw;
    }

    .ippocampo:first-of-type{
        margin-top: 5vh;
    }

    .celebrate{
        font-size: 5.5vw;
        top: 20px;
    }

    .blanket{
        position: relative;
        top: 140px;
    }

    .pda{
        width: 100%;
    }

    .scary{
        width: 90%;
    }

    .match .ippocampo{
        font-size: 15vw;
    }

    h2{
        font-size: 5.5vw;
    }

    .tip{
        font-weight: 400;
        padding: 0 2vh;
    }

    .pb_s{
        margin-bottom: 2vh;
    }

    pre{
        font-family: monospace;
        white-space: pre;
        font-size: 6px;
      }

    /* #game{
        width: 95%;
    } */
}
