
#container {
    width: 100%;
    /* margin: auto !important; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "buddy";
    justify-items: center;
    list-style-type: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .buddy {
    grid-area: buddy;
    display: none;
    flex-direction: column;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    color: #fff;
    padding: 20px;
    width: 80vw;
    max-width: 400px;
    height: auto;
    cursor: hand;
  }
  .rotate-left {
    transform: translateX(400px) rotate(30deg) scale(0.8);
    transition: 1s;
    /* cursor: e-resize; */
    opacity: 0;
  }
  .rotate-right {
    transform: translateX(-400px) rotate(-30deg) scale(0.8);
    transition: 1s;
    opacity: 0;
    /* cursor: w-resize; */
  }

  .avatar {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

    .avatar img{
      height: 100%;
    max-height: 400px;
      width: auto;
      pointer-events: none;
    }

    .name{
      /* background-color: lavender; */
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: black;
      font-size: larger;
      width: 100%;
      margin: 0;
      padding: 25px;
      padding-bottom: 10px;
      font-size: 12pt;
      font-family: 'Montserrat', sans-serif;
    }

    .name p{
      padding: 0;
      margin: 0;
    }

  .like {
    border-radius: 5px;
    padding: 5px 10px;
    border: 2px solid green;
    color: green;
    text-transform: uppercase;
    font-size: 50px;
    position: absolute;
    top: 50px;
    right: 40px;
    text-shadow: none;
    transform:rotate(-15deg);
  }

  .dislike {
    border-radius: 5px;
    padding: 5px 10px;
    border: 2px solid red;
    color: red;
    text-transform: uppercase;
    font-size: 50px;
    position: absolute;
    top: 50px;
    left: 40px;
    text-shadow: none;
    transform:rotate(-15deg);
  }